ansible-lint
ansicolors
autopager
click
deepmerge
docker
environs
fake-useragent
flask
jsonpatch
influxdb
ipython[notebook]
matplotlib
mongoengine
nose
numpy
pandas
peewee
pika
pymongo
pymorphy2
pymysql
pysocks
python-dateutil
python-telegram-bot
requests
scikit-learn
scipy
scrapely
scrapy
scrapy_fake_useragent
scrapy_proxies
stem
sympy
tabulate
telethon
user-agents
